body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #1c1c1c;
}
p {
  padding: 0;
  margin: 0;
}


.message__bcg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.message {
  position: absolute;
  top: 110px;
  left: 50%;
  padding: 30px 20px;
  text-align: center;
  width: 250px;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: #eeeeee;
  box-shadow: 10px 10px 20px 0 rgba(28,28,28,.07);
}
.message__btns {
  display: flex;
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 20px;
}
.message__btns > button {
  margin-left: 4px;
  margin-right: 4px;
  width: 50%;
}

.task {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;
  max-width: 1100px;
}
.task__settings {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}
.task__settings__row {
  display: flex;
}

.task__table {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  border-spacing: 0;
  overflow: hidden;
}
.task__table th,
.task__table td {
  padding: 5px 10px;
  text-align: center;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  width: 16.66%;
  white-space: nowrap;
  transition: background-color .3s ease, color .9s ease;
  overflow: hidden;
}
.task__table td:first-child,
.task__table th:first-child {
  background-color: #ffffef;
}
.task__table td:last-child,
.task__table th:last-child {
  border-right: none;
}
.task__table tr:last-child td {
  border-bottom: none;
}
.task__table tr:hover td,
.task__table tr.select td {
  color: #fff;
  background-color: #1c1c1c;
}

.task__btns {
  display: flex;
  padding: 10px 10px;
  justify-content: flex-end;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}

.btn {
  padding: 10px 40px;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #1c1c1c;
  background-color: #eeeeee;
  border: none;
  border-radius: 10px;
  transition: background-color .3s ease, color .9s ease;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
  background-color: #1c1c1c;
}
.btn:disabled {
  pointer-events: none;
  opacity: .2;
}

.task__settings__list {
  padding-top: 10px;
  padding-bottom: 10px;
}
.fade {
  display: none;
}
.task__settings__row {
  display: flex;
  align-items: center;
}
.task__settings__row > p {
  width: 100px;
}

.label {
  margin-right: 4px;
  cursor: pointer;
}
.label input {
  display: none;
}
.label span {
  padding: 5px 10px;
  border: 1px solid #eeeeee;
  transition: background-color .3s ease, color .9s ease;
}
.label input:checked~span,
.label:hover span {
  color: #fff;
  background-color: #1c1c1c;
}

.load {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255.9);
  z-index: 100;
}


